@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .contentContainer {
    background-image: url('../../images/Home-2x.png');
  }
}

.contentContainer {
  background-image: url('../../images/Home.png');
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1440px;
  height: calc(100vh - 60px);
  padding-top: 60vh;
}

.heroTitle {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 16px;
  color: white;
}

.heroSubtitle {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 40px;
  color: white;
}

.button {
  font-family: 'Manrope', sans-serif;
  background-color: #3470ff;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
  width: 276px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  background-color: #0b44cd;
}

@media (min-width: 1440px), (min-resolution: 192dpi) {
  .contentContainer {
    background-image: url('../../images/Home-2x.png');
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contentContainer {
    width: 100%;
  }
}
